<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    
</head>
<body class="bg-neutral-700 absolute top-0 left-40 w-[calc(var(--spacing)*10rem)] h-full m-4 text-white">

    <div id="menuContainer"></div>
    <div id="modalContainer" class="absolute"></div>

    
    <p>Nome do Usuário: <span th:text="${username}"></span></p>
    <h1>sgahbNJKM</h1>

    <a th:href="@{/usuarios}">Lista de Usuários</a>
    <a th:href="@{/usuarios/novo}">Novo Usuário</a>


    <script th:src="@{/js/menu.js}"></script>
    <script th:src="@{/js/modal.js}"></script>
</body>
</html>